th {
	text-align:center;
}

#head {
  background-color: black;
  color:white;
  width:94%;
  text-align:center;
  padding:1%;
}

#first {
  background-color: red;
  float:left;
  width:30%;
  height:95%;
  padding:1%;
}

#second {
  background-color: yellow;
  float:left;
  width:30%;
  height:95%;
  padding:1%;
}

#third {
  background-color: blue;
  color:white;
  float:left;
  width:30%;
  height:95%;
  padding:1%;
}
