th {
	text-align:center;
}

#head {
  background-color: black;
  color:white;
  width:99%;
  text-align:center;
}

#first {
  background-color: red;
  float:left;
  width:33%;
}

#second {
  background-color: yellow;
  float:left;
  width:33%;
}

#third {
  background-color: blue;
  color:white;
  float:left;
  width:33%;
}
