body {
  background-color: #00ff99;
}

label {
  padding-left: 5px;
  padding-right: 5px;
}

.interactive {
  background-color: #ff0033;
  margin: 2%;
  padding: 2%;
}

.display {
  background-color: white;
  margin: 2%;
  padding: 2%;
}
