body {
  font-size: large;
  background-color: #c1d1b2;
}

h1 {
  text-align: center;
}

p {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.simulation {
  background-color: #d1b2d1;
  margin: 2%;
  padding: 2%;
}

.output {
  background-color: #d1b2b2;
  margin: 2%;
  padding: 2%;
}
